@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Work+Sans:wght@300&display=swap');
:root {
    --color1:#19D1B9;
    --color2:#E0F9F7;
    --color3:#3d83df;
    --color4:#1B2734;
    --text-color1:#ABABAB;
    --font1:'Roboto',Arial,sans-serif;
    --font2:'Work Sans',Arial,sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color1);
    font-family: var(--font2);
}
body{
    width: 100vw;
    
}
header {
    /* width: 100vw; */
    margin: 0px !important;
    text-align: center;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index:999;
}

header img {
    height: 35px;
}
.navbar {
    width: 100%;
}
.navbar a {
    text-decoration: none;
}
.navbar .link {
    list-style-type: none;
    font-family: var(--font1);
}
.navbar ul {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.navbar .link:hover {
    color: var(--color1);
    font-weight: bold;
}
.navbar .link:active {
    color: var(--color1);
    font-weight: bold;
}
.hero-section {
    
    width: 80%;
    margin: 0 auto !important;
}
.hero-section  img{
    height: 50px;
    width:80px;
}
.hero-section h2 {
    color: var(--color1);
}
.para {
    margin: 0 auto;
    font-family: var(--font1);
}
.cards {
    width: 80%;
    margin: 0 auto !important;
}
.cards > div{
    border-radius: 10px;
    padding: 20px;
    color: white;
}
.card1 {
    background-color: var(--color1);
}
.card2 {
    background-color: var(--color3);
}
.card3 {
    background-color: var(--color4);
}
.cards select {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: white;
    outline: none;
}
.cards > div:hover {
    filter: contrast(0.85);
}
.ban1 .title {
    color: var(--color1);

}
.ban1 {
    width: 80%;
    margin: 0 auto !important;
}
.ban1 .inner-logo {
    filter: grayscale();
}
.ban1 .inner-logo:hover {
    filter: none;
}
.ban2 {
    width: 80%;
    margin: 0 auto !important;
    overflow: hidden;
    height: 600px;
}
.ban2::before {
    content: "";
    background-color: var(--color2);
    width: 100%;
    height: 600px;
    display: block;
    position: absolute;
    left: 0px;
    z-index: -1;
}
.class1 h2 {
    color:var(--color1);
}
.class2 img {
    width: 60px;
    padding-top: 15px;
    margin: auto;
}
.ban2 .inner-card {
    text-align: center;
    overflow: hidden;
    line-height: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.5px 1px rgb(207, 207, 207);
    margin-top: 20px;
}
.improv {
    width: 80%;
    margin: 0px auto !important  ;
}
.improv h2{
    color: var(--color1);
}
.cities {
    width:80%;
    margin: 0px auto !important;
    flex-wrap: wrap;
}
.cities img {
    max-width: 250px;
}
.city {
    border-radius: 10px;
    background-color: white;
    transition: .5s;

}
.city:hover{
    transform: scale(1.3);
    box-shadow: 1px 1px 12px grey;
    z-index: 2;
}
.join {
    width: 80%;
    margin: 0px auto !important;
}
footer {
    width: 80%;
    margin: 0px auto !important;
    font-size: 0.8em;
}